{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}
<h1>Pets</h1>
{% for pet in pets %}

<div>
  <span><a href="/{{ pet.id }}">{{ pet.name }}</a></span>
  {% if pet.available %}
  <span><b>is available!</b></span>
  {% endif %}

  {% if pet.photo_url %}
  <div><img src="{{ pet.photo_url }}"></div>
  {% endif %}


</div>

{% endfor %}

<a href="/add">Add Pet!</a>

<h2>Random Petfinder Pet</h2>

{{ petfinder_pet.name }}
{{ petfinder_pet.age }}
{% if petfinder_pet.photo_url %}
<div><img src="{{ petfinder_pet.photo_url }}"></div>
{% endif %}

{% endblock %}